:root{
    --dark: #374151;
    --darker: #1F2937;
    --darkest: #111827;
    --grey: #6B7280;
    --light: #EEE;
    --pink: #EC4899;
    --purple: #8b5cf6;
}

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Fira sans', 'sans-serif';
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--dark);
    color: #FFF;
}

header{
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header h1 {
    font-size: 2.5rem;
    font-weight: 300;
    color: var(--grey);
    margin-bottom: 1rem;
}

#new-task-form {
    display: flex;
    flex-direction: column;
}

#new-task-form div{
    width: 100%;
    display: flex;
    margin-bottom: 1rem;
}

input, button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#new-task-input, #new-task-input-description {
    flex: 1 1 0%;
    background-color: var(--darker);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--light);
    font-size: 1.25rem;
    resize: none;
    outline: none;
    border: none;
}

#new-task-input::placeholder{
    color: var(--grey);
}
#new-task-input-description::placeholder{
    color: var(--grey);
}

#new-task-submit {
    color: var(--pink);
    font-size: 1.25rem;
    font-weight: 700;
    background-image: linear-gradient(to right, var(--pink), var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
}

#new-task-submit:hover{
    opacity: 0.8;
}

#new-task-submit:active{
    opacity: 0.6;
}

main {
    flex: 1 1 0%;
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.task-list{
    padding: 1rem;
}

.task-list h2 {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--grey);
}

#tasks .task {
    display: flex;
    justify-content: space-between;
    background-color: var(--darkest);
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 1rem;
}

.check-box{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--grey);
    font-size: 1rem;
    border: 1px var(--grey) solid;
    border-radius: 100%;
    margin-right: 15px;
    cursor: pointer;
}

/* .check-box:hover{
    background-color: var(--purple);
    color: var(--light);
} */

#tasks .task .content {
    flex: 1 1 0%;
}

#tasks .task .content .text {
    color: var(--light);
    font-size: 1.125rem;
    width: 100%;
    display: block;
    transition: 0.4s;
    /* text-decoration: line-through; */
}

.line{
    text-decoration: line-through;
}

#tasks .task .content .text:not(:read-only) {
    color: var(--pink);
}

#tasks .task .actions {
    display: flex;
    margin: 0 -0.5rem;
    position: relative;
}

.actions {
    width: 27px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.options{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--grey);
    border-radius: 100%;
    cursor: pointer;
}
.options:hover{
    background-color: var(--grey);
    color: var(--light);
}
.options:active{
    background-color: var(--dark);
    color: var(--light);
}

ul {
    width: 150px;
    height: 80px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    position: absolute;
    right: 0;
    top: 30px;
    z-index: 20;
    padding: 0px;
    background-color: white;
    overflow: hidden;
}

ul li{
    width: 100%;
    height: 100%;
    padding: 0px;
}
ul li button:hover{
    background-color: var(--grey);
    color: var(--light);
}

ul li button{
    width: 100%;
    height: 100%;
    text-align: right;
}

.task-description{
    width: 100%;
    min-height: 100px;
    color: var(--light);
    background-color: var(--darker);
    border: 2px solid var(--pink);
    padding: 1rem;
    border-radius: 1rem;
    resize: vertical;
    appearance: none;
    outline: none;
    margin-top: 0.2rem;
    display: none;
}
@keyframes shrink {
    from{height: 0px;};
    to{height: 100px;}
}

.task-description:not(:read-only) {
    color: var(--pink);
}

.display{
    display: flex;
}